$primary-color: #a57ce1;
$secondary-color: #9073c0;
$background-color: #212121;
$text-color: #e6e6e6;

body {
  background-color: $background-color;
  overflow-y: hidden;
}

body,
body * {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif !important;
  color: $text-color;
}
